Primer Codigo

In [2]:
import pandas as pd

In [11]:
tabla = pd.read_csv(r'C:\Users\cti9264\Documents\Vscode Python\TablaEjemplo.csv')

In [12]:
tabla

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [13]:
tabla['Nombre']

0     Juan
1    Pedro
2    María
3    Laura
Name: Nombre, dtype: object

In [14]:
tabla.Edad

0    35
1    41
2    28
3    66
Name: Edad, dtype: int64

In [16]:
tabla[['Nombre','País']]

  Nombre       País
0   Juan     México
1  Pedro     España
2  María       Perú
3  Laura  Argentina

In [17]:
type(tabla.Nombre)

pandas.core.series.Series

In [18]:
type(tabla[['Nombre','País']])

pandas.core.frame.DataFrame